# -------------------------------------------------------------------------------------
# Frontend owns this repo as a whole.
# -------------------------------------------------------------------------------------
*                    @tiki/frontend


# -------------------------------------------------------------------------------------
# Content should have eyes on any Markdown changes.
# -------------------------------------------------------------------------------------
*.md                 @tiki/content
*.png                @tiki/content
*.svg                @tiki/content


# -------------------------------------------------------------------------------------
# Infrastructure should all have eyes on any changes under .github/
# -------------------------------------------------------------------------------------
/.github/            @tiki/infrastructure
