# Dev garbage
.idea/
node_modules/
.vscode/
*.map
.DS_Store
.sourcemaps

# Generated outputs
dist/
docs

# Generated build files
/package.json
/package-lock.json
/src/main.ts
/vite.config.ts

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
